body {
  width: 250px;
  height: 250px;
  padding: 0;
  margin: 0;
}
input {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
button {
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  background-color: white;
  color: #7151c1;
}
#main-container,
#time-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}
#main-container {
  background-color: #d5cbee;
  width: 100%;
  height: 100%;
}
.header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}
#btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
#time,
.title {
  font-size: 20px;
  font-weight: bold;
}
#todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#todo-container > div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.delete {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}
